/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact; } }
@media print {
  body, #content, #container {
    width: 100%;
    margin: 0;
    float: none;
    background: #fff url(none); }

  body {
    font: 1em Georgia, "Times New Roman", Times, serif;
    color: #000; }

  .top-banner {
    display: none; }

  table {
    font-size: 80%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px; }

  th,
  td {
    padding: 10px 7px;
    text-align: center; }

  th {
    border-bottom: 2px solid #333333; }

  td {
    border-bottom: 1px dotted #999999; }

  tfoot td {
    border-bottom-width: 0px;
    border-top: 2px solid #333333;
    padding-top: 20px; }

  tr.divider td {
    border-bottom: 2px solid #333333; }

  h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0; }

  h1 {
    font-size: 250%;
    font-weight: 300; }

  h2 {
    font-size: 175%;
    margin-top: 5px;
    margin-bottom: 15px; }

  h3 {
    font-size: 115%;
    font-weight: 300; }

  h4 {
    font-size: 100%; }

  h5 {
    font-size: 100%; }

  h6 {
    font-size: 90%;
    font-style: italic; }

  .app-logo-print {
    margin-bottom: 20px;
    width: 20%;
    float: right;
    display: inline-block;
    text-align: right; }

  .home-link {
    display: none; }

  .print {
    display: none; }

  .report-title {
    width: 80%;
    float: left;
    display: inline-block; }

  .run-date {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 75%;
    font-weight: 300;
    float: left;
    width: 80%;
    margin-top: 15px; }

  a:link, a:visited {
    color: #00c;
    font-weight: bold;
    text-decoration: underline; }

  a:link:after, a:visited:after {
    content: " (" attr(href) ") "; }

  @page {
    margin: 2cm; }
  img {
    max-width: 100% !important; }

  ul, img {
    page-break-inside: avoid; }

  article {
    page-break-before: always; }

  article a {
    font-weight: bolder;
    text-decoration: none; }

  article a[href^=http]:after {
    content: " <" attr(href) "> "; }

  .page-break {
    display: block;
    page-break-before: always; } }
