/* COLORS */
/* NEUTRALS */
/* BASE COLORS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Source+Sans+Pro:300,400);
.desaturate {
  color: #737373 !important; }

small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-muted {
  color: gainsboro; }

.text-primary {
  color: #424243; }

.text-warning {
  color: #f2bf51; }

.text-danger {
  color: #bc2a47; }

.text-success {
  color: #0f9d58; }

.text-info {
  color: #424243; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.green {
  color: #0f9d58; }

.orange {
  color: #f0652f; }

.yellow {
  color: #f2bf51; }

.red {
  color: #bc2a47; }

.blue {
  color: #75B6B8; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0; }

h1 {
  font-size: 3em;
  /* 48 / 16 */
  font-weight: 600;
  line-height: 1em;
  /* 48 / 48 */
  margin-bottom: .5em;
  /* 24 / 48 */ }

h2 {
  font-size: 1.875em;
  /* 30 / 16 */
  font-weight: 600;
  line-height: 1.333333333333333em;
  /* 48 / 36 */
  margin-bottom: .6666666666666667em;
  /* 24 / 36 */ }
  @media (max-width: 73em) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.5em;
  /* 24 / 16 */
  font-weight: 600;
  line-height: 1em;
  /* 24 / 24 */
  margin-bottom: 1em;
  /* 24 / 24 */ }

h4 {
  font-size: 1.25em;
  /* 21 / 16 */
  font-weight: 400;
  line-height: 1.142857142857143em;
  /* 24 / 21 */
  margin-bottom: 1.142857142857143em;
  /* 24 / 21 */ }

h5 {
  font-size: 1.125em;
  /* 18 / 16 */
  font-weight: 600;
  line-height: 1.333333333333333em;
  /* 24 / 18 */
  margin-bottom: 1.333333333333333em;
  /* 24 / 18 */ }

h6 {
  font-size: 1em;
  /* 16 / 16 */
  font-weight: 600;
  line-height: 1.5em;
  /* 24 / 16 */
  margin-bottom: 1.5em;
  /* 24 / 16 */ }

p {
  font-size: 1em;
  /* 16 / 16 */
  line-height: 1.5em;
  /* 24 / 16 */
  margin-bottom: 1.5em;
  /* 24 / 16 */ }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.428571429; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

a {
  color: #bc2a47;
  text-decoration: none;
  position: relative;
  display: inline-block; }
  a:focus {
    outline: thin dotted; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0;
    text-decoration: none;
    color: #bc2a47; }

a.animated::after {
  position: absolute;
  top: 0;
  right: -10px;
  content: '&raquo';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  transform: translateX(10px); }

a.animated:hover::after,
a.animated:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX() 0px;
  transform: translateX(0px); }

/* COLORS */
/* NEUTRALS */
/* BASE COLORS */
.desaturate {
  color: #737373 !important; }

body.account {
  background-color: #111113;
  color: white; }
  body.account .form-holder {
    margin: 120px auto;
    text-align: center;
    width: 20%;
    min-width: 300px; }
    body.account .form-holder .app-logo {
      width: 150px;
      margin: 0 auto 40px auto; }
      body.account .form-holder .app-logo img {
        max-width: 100%; }
    body.account .form-holder .form-content {
      color: #DCD8CD; }
    body.account .form-holder .form-signin {
      margin: 50px 0 20px 0; }
    body.account .form-holder h1 {
      font-weight: 300;
      font-size: 2.5em; }
    body.account .form-holder input[type="text"], body.account .form-holder input[type="email"], body.account .form-holder input[type="password"] {
      font-family: 'Open Sans', sans-serif;
      color: white;
      background: rgba(0, 0, 0, 0.3);
      border: none;
      width: 100%;
      padding: 10px 15px;
      font-size: 1em;
      height: auto;
      margin-bottom: 20px; }
      body.account .form-holder input[type="text"]:focus, body.account .form-holder input[type="email"]:focus, body.account .form-holder input[type="password"]:focus {
        background-color: rgba(0, 0, 0, 0.8);
        outline: none; }
    body.account .form-holder .remember span {
      text-transform: none;
      letter-spacing: 0;
      padding-left: 5px;
      color: #d3d3d3;
      font-size: 1.25em; }
    body.account .form-holder .button-frame {
      margin: 30px 0; }
    body.account .form-holder .account-links {
      margin-top: 80px; }
      body.account .form-holder .account-links a {
        font-family: 'Open Sans', sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.825em; }

.form-options {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  float: left;
  display: block;
  width: 100%; }

.backstretch {
  opacity: 0.3; }

.filter-search-bar {
  width: 100%;
  padding: 15px;
  background-color: #F0F0F0;
  margin-bottom: 20px; }
  .filter-search-bar .filter-button {
    padding-top: 30px; }
    .filter-search-bar .filter-button .button {
      width: 100%;
      height: 40px; }

.details-box {
  padding: 20px;
  border: 1px solid #d3d3d3;
  margin-bottom: 40px; }

.run-date {
  margin: 20px 0 30px 0;
  font-size: 16px; }

.report-title {
  font-weight: 300; }

.report-header-row {
  padding: 10px 0 20px 0;
  float: left;
  width: 100%; }

.container {
  background-color: white;
  margin-top: 0; }
  .container .page-content {
    padding: 20px 40px 60px 40px; }
  .container.report-holder {
    padding: 20px 40px 60px 40px;
    margin-bottom: 20px; }
    .container.report-holder .report-header {
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 20px;
      padding-bottom: 20px; }
    .container.report-holder h2 {
      margin: 0;
      font-weight: 200; }
    .container.report-holder h4 {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 10px;
      font-weight: 600;
      color: #82827d; }
  .container .page-header {
    padding: 20px 0;
    margin-bottom: 30px;
    height: 50px; }
    .container .page-header h2 {
      margin: 0;
      font-weight: 200; }
    .container .page-header h4 {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 10px;
      font-weight: 600;
      color: #82827d; }
  .container .page-section {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb; }
    .container .page-section.no-border {
      border-bottom: none; }

.alert {
  border-radius: 2px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 10px 0 20px 0;
  border: 1px solid transparent;
  text-align: center;
  border-color: #4e4e4e;
  background-color: rgba(78, 78, 78, 0.4);
  color: #4e4e4e; }
  .alert.success {
    border-color: #0f9d58;
    background-color: rgba(15, 157, 88, 0.4);
    color: #0f9d58; }
  .alert.warning {
    border-color: #f0652f;
    background-color: rgba(240, 101, 47, 0.4);
    color: #f0652f; }
  .alert.danger {
    border-color: #bc2a47;
    background-color: rgba(188, 42, 71, 0.4);
    color: #bc2a47; }
  .alert.disabled {
    border-color: #d3d3d3;
    background-color: rgba(211, 211, 211, 0.4);
    color: #d3d3d3;
    color: #82827d; }

[hidden] {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

.push_right {
  text-align: right; }

.right {
  float: right; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

hr.large-divider {
  border-top: 5px solid #eeeeee; }

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px; }

pre.prettyprint {
  margin-bottom: 20px; }

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

/* Table Styles */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: 400;
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 40px; }

.table thead {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0;
  color: #a8a6a2;
  font-size: .625em;
  font-weight: 300;
  letter-spacing: .15em;
  text-transform: uppercase; }

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 10px 15px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd; }

.table tbody > tr > td {
  padding: 10px 15px; }

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd; }

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0; }

.table tbody + tbody {
  border-top: 2px solid #dddddd; }

.table .table {
  background-color: #ffffff; }

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 10px; }

.table > tbody > tr.selected > td {
  background-color: inherit; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5; }

table col[class*="col-"] {
  float: none;
  display: table-column; }

table td[class*="col-"],
table th[class*="col-"] {
  float: none;
  display: table-cell; }

.table > tbody > tr.disabled {
  color: #ceccc6; }

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5; }

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3; }

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7; }

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  margin-bottom: 5px;
  /*   font-weight: bold; */ }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal; }

input[type="file"] {
  display: block; }

select[multiple],
select[size] {
  height: auto; }

select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

.form-control:-moz-placeholder {
  color: #999999; }

.form-control::-moz-placeholder {
  color: #999999; }

.form-control:-ms-input-placeholder {
  color: #999999; }

.form-control::-webkit-input-placeholder {
  color: #999999; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee; }

textarea.form-control {
  height: auto; }

.form-group {
  margin-bottom: 15px; }

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle; }

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.input-group.col {
  float: none;
  padding-right: 0;
  padding-left: 0; }

.input-group .form-control {
  width: 100%;
  margin-bottom: 0; }

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 50px;
  padding: 10px 16px;
  font-size: 21px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 50px;
  line-height: 50px; }

textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn {
  height: auto; }

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px; }

textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn {
  height: auto; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px; }

.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px; }

.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px; }

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.input-group-addon:last-child {
  border-left: 0; }

.input-group-btn {
  position: relative;
  white-space: nowrap; }

.input-group-btn > .btn {
  position: relative; }

.input-group-btn > .btn + .btn {
  margin-left: -4px; }

.input-group-btn > .btn:hover,
.input-group-btn > .btn:active {
  z-index: 2; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-sm {
  height: 30px;
  line-height: 30px; }

textarea.input-sm {
  height: auto; }

.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-lg {
  height: 45px;
  line-height: 45px; }

textarea.input-lg {
  height: auto; }

.has-warning .help-block,
.has-warning .control-label {
  color: #c09853; }

.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; }

.has-warning .input-group-addon {
  color: #c09853;
  border-color: #c09853;
  background-color: #fcf8e3; }

.has-error .help-block,
.has-error .control-label {
  color: #b94a48; }

.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }

.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede; }

.has-success .help-block,
.has-success .control-label {
  color: #468847; }

.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; }

.has-success .input-group-addon {
  color: #468847;
  border-color: #468847;
  background-color: #dff0d8; }

.form-control-static {
  margin-bottom: 0;
  padding-top: 7px; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373; }

@media screen and (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .form-control {
    display: inline-block; }

  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0; } }
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.form-horizontal .form-group:after {
  clear: both; }

@media screen and (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right; } }
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default; }

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center; }

.pager:before,
.pager:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.pager:after {
  clear: both; }

.pager li {
  display: inline; }

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px; }

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.pager .next > a,
.pager .next > span {
  float: right; }

.pager .previous > a,
.pager .previous > span {
  float: left; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed; }

.thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  display: block; }

.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #428bca; }

.thumbnail > img {
  margin-left: auto;
  margin-right: auto; }

.thumbnail .caption {
  padding: 9px;
  color: #333333; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert h4 {
  margin-top: 0;
  color: inherit; }

.alert .alert-link {
  font-weight: bold; }

.alert > p,
.alert > ul {
  margin-bottom: 0; }

.alert > p + p {
  margin-top: 5px; }

.alert-dismissable {
  padding-right: 35px; }

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847; }

.alert-success hr {
  border-top-color: #c9e2b3; }

.alert-success .alert-link {
  color: #356635; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad; }

.alert-info hr {
  border-top-color: #a6e1ec; }

.alert-info .alert-link {
  color: #2d6987; }

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853; }

.alert-warning hr {
  border-top-color: #f8e5be; }

.alert-warning .alert-link {
  color: #a47e3c; }

.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.alert-danger hr {
  border-top-color: #e6c1c7; }

.alert-danger .alert-link {
  color: #953b39; }

.button {
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: white;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 12px 20px;
  font-size: 0.825em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-color: transparent;
  background-color: #82827d; }
  .button a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none; }
    .button a:hover {
      text-decoration: none; }
  .button:hover {
    background-color: #686864; }
  .button:active {
    background-color: #686864; }
  .button.primary {
    border-color: transparent;
    background-color: #bc2a47; }
    .button.primary:hover {
      background-color: #922137; }
    .button.primary:active {
      background-color: #922137; }
  .button.success {
    border-color: transparent;
    background-color: #0f9d58; }
    .button.success:hover {
      background-color: #0b6e3e; }
    .button.success:active {
      background-color: #0b6e3e; }
  .button.warning {
    border-color: transparent;
    background-color: #f0652f; }
    .button.warning:hover {
      background-color: #dc4910; }
    .button.warning:active {
      background-color: #dc4910; }
  .button.danger {
    border-color: transparent;
    background-color: #bc2a47; }
    .button.danger:hover {
      background-color: #922137; }
    .button.danger:active {
      background-color: #922137; }
  .button.disabled {
    border-color: transparent;
    background-color: #d3d3d3;
    color: #82827d; }
    .button.disabled:hover {
      background-color: #bababa; }
    .button.disabled:active {
      background-color: #bababa; }
  .button.ghost {
    background-color: transparent;
    border: 2px solid #bc2a47;
    color: #bc2a47;
    padding: 10px 20px; }
    .button.ghost.success {
      color: #0f9d58;
      border: 2px solid #0f9d58; }
      .button.ghost.success:hover {
        background-color: #0f9d58; }
    .button.ghost a {
      font-family: 'Open Sans', sans-serif;
      color: #bc2a47;
      font-weight: 500; }
      .button.ghost a:hover {
        color: white;
        text-decoration: none; }
    .button.ghost:hover {
      background-color: #bc2a47;
      color: white; }
  .button.large {
    padding: 15px 30px;
    font-size: 14px; }
  .button.small {
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 600; }
  .button.extra-small {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5; }
  .button.fullwide {
    width: 100%;
    display: block; }
  .button.inline {
    margin: 32px 10px 0 10px; }

footer {
  margin: 40px 0;
  text-align: center;
  font-size: .825em;
  color: #82827d; }

/* Basic Form Styles */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline-color: #999; }

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="time"],
textarea {
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc; }

input[type="text"].datepicker {
  background: url("../img/icon-date.png") 97% center no-repeat #fff; }

input[type="radio"] {
  float: left;
  display: inline-block; }

.form-actions {
  margin-top: 30px; }

.select-style {
  border: 1px solid #D8D5D0;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 15px 0;
  height: 50px;
  background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 98% 50%; }

.select-style select {
  padding: 10px 15px;
  width: 130%;
  font-size: 1em;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; }

.select-style select:focus {
  outline: none; }

.radio_label {
  margin: 10px 15px 10px 10px;
  float: left;
  display: inline-block; }

label {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: .75em;
  color: #82827d;
  text-transform: uppercase;
  letter-spacing: .15em;
  display: inline-block; }

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  margin-bottom: 15px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #999; }

.form-control::-webkit-input-placeholder {
  color: #999; }

.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1; }

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px; }

  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px; }

  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px; } }
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }

  .form-inline .form-control-static {
    display: inline-block; }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }

  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto; }

  .form-inline .input-group > .form-control {
    width: 100%; }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0; }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }

  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0; }

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px; }

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right; } }
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px; }

@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px; } }
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px; } }
.form-group {
  margin-bottom: 15px; }

textarea {
  min-height: 120px;
  margin-bottom: 20px; }

button a {
  color: white; }
  button a:hover {
    color: white; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input,
select[multiple],
textarea {
  background-image: none; }

/* Now For Some of my Breakpoints Loves:
	1680 - Large Screen
	1480 - Big Screen
	1200 - Regular Screen
	 992 - Large Tablet
	 768 - Tablet
	 480 - Phone
*/
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 728px; } }
@media (min-width: 992px) {
  .container {
    max-width: 940px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
@media (min-width: 1480px) {
  .container {
    max-width: 1400px; } }
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

.container:before,
.container:after {
  display: table;
  content: " "; }

.container:after {
  clear: both; }

.row:before,
.row:after {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
.row .row {
  margin-right: -15px;
  margin-left: -15px; }

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

.row-block .col1,
.row-block .col2,
.row-block .col3,
.row-block .col4,
.row-block .col5,
.row-block .col6,
.row-block .col7,
.row-block .col8,
.row-block .col9,
.row-block .col10,
.row-block .col11,
.row-block .col12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  float: left; }

@media (max-width: 480px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
@media (min-width: 480px) and (max-width: 768px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5 {
    width: 50%; }

  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    width: 100%; } }
@media (min-width: 768px) {
  .col1 {
    width: 8.333333333333332%; }

  .col2 {
    width: 16.666666666666664%; }

  .col3 {
    width: 25%; }

  .col4 {
    width: 33.33333333333333%; }

  .col5 {
    width: 41.66666666666667%; }

  .col6 {
    width: 50%; }

  .col7 {
    width: 58.333333333333336%; }

  .col8 {
    width: 66.66666666666666%; }

  .col9 {
    width: 75%; }

  .col10 {
    width: 83.33333333333334%; }

  .col11 {
    width: 91.66666666666666%; }

  .col12 {
    width: 100%; }

  .offset1 {
    margin-left: 8.333333333333332%; }

  .offset2 {
    margin-left: 16.666666666666664%; }

  .offset3 {
    margin-left: 25%; }

  .offset4 {
    margin-left: 33.33333333333333%; }

  .offset5 {
    margin-left: 41.66666666666667%; }

  .offset6 {
    margin-left: 50%; }

  .offset7 {
    margin-left: 58.333333333333336%; }

  .offset8 {
    margin-left: 66.66666666666666%; }

  .offset9 {
    margin-left: 75%; }

  .offset10 {
    margin-left: 83.33333333333334%; }

  .offset11 {
    margin-left: 91.66666666666666%; } }
/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(0, 0, 0, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  text-align: left;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 1000px; } }
/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

header {
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  height: 160px;
  position: relative; }
  header .top-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  header .container {
    background-color: transparent; }
  header .title-bar {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100px;
    line-height: 100px; }
    header .title-bar .app-logo {
      width: 90px;
      height: 70px;
      margin: 15px 0 0 20px;
      background: top left no-repeat url("/img/HPC-logo-white.png");
      background-size: 100%;
      float: left;
      display: inline-block; }
      @media print {
        header .title-bar .app-logo {
          background: top left no-repeat url("/img/HPC-logo.png"); } }
    header .title-bar h3.app-logo {
      margin-top: 35px;
      width: 110px;
      height: 90px; }
    header .title-bar .app-logo-print {
      display: none; }
    header .title-bar .site-title {
      color: #DCD8CD;
      font-size: 1.5em;
      line-height: 1;
      font-weight: 200; }
      header .title-bar .site-title img {
        height: 70px;
        margin-top: 10px;
        padding-left: 20px; }
    header .title-bar h3.site-title {
      line-height: 150px;
      margin-bottom: 0; }
    header .title-bar .account-block {
      text-align: right;
      font-size: 0.825em;
      color: #DCD8CD; }
      header .title-bar .account-block i {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        margin-left: 5px;
        color: #DCD8CD; }
      header .title-bar .account-block h2 {
        color: white;
        font-size: 16px;
        font-weight: 300;
        line-height: 150px;
        margin-bottom: 0; }
      header .title-bar .account-block .run-date {
        line-height: 120px; }
  header .nav-bar {
    width: 100%;
    height: 70px; }

/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  display: inline-block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.disable-pointer-events {
  pointer-events: none !important; }

.nav-toggle {
  color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse li {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.825em; }
    .nav-collapse li a {
      color: white;
      padding: 0 40px;
      height: 60px;
      line-height: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .nav-collapse li a:hover {
        background-color: rgba(0, 0, 0, 0.7); }
      .nav-collapse li a.active {
        background-color: white;
        color: #424243; } }
*, *:before, *:after {
  box-sizing: border-box; }

.block {
  display: block; }

html {
  -webkit-tap-highlight-color: transparent;
  min-width: 1000px; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: #424243;
  background-color: #eaeaea; }
  body .under-banner {
    position: absolute;
    height: 160px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1a1a1a; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-width: 1000px; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

[class*="col"] img {
  max-width: 100%; }
