// Use Compass, save time
@import "compass";
@import "compass/layout/stretching";


// Operations
@import "operations/mixins";
@import "operations/functions";
@import "operations/media-queries";

// Varibles
@import "variables/typography";
@import "variables/colors";

// Pages
@import "pages/all";


// Snippets
@import "components/all";

*, *:before, *:after {
	@include box-sizing (border-box);
}

.block {
	display: block;
}


html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-width: 1000px;
}

body {
	@include secondary_font;
	font-size: 100%;
	line-height: 1.5em;
	color: $text;
	background-color: #eaeaea;

	.under-banner {
		position: absolute;
		height: 160px;
		top: 0;
		left: 0;
		right: 0;
		background-color: $darkest-grey;
	}
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-width: 1000px;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

[class*="col"] img {
	max-width: 100%;
}


