// Styles for Buttons - Managed in /sass/snippets/_buttons.scss

.button {
  border-radius: 2px;
  @include primary_font;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: white;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 12px 20px;
  font-size: 0.825em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  a {
    @include primary_font;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  @include button-theme($medium-grey);

  &.primary {
    @include button-theme($red);
  }

  &.success {
    @include button-theme($green);
  }

  &.warning {
    @include button-theme($orange);
  }

  &.danger {
    @include button-theme($red);
  }

  &.disabled {
    @include button-theme($light-grey);
    color: $medium-grey;
  }

  &.ghost {
    background-color: transparent;
    border: 2px solid $red;
    color: $red;
    padding: 10px 20px;

    &.success {
      color: $green;
      border: 2px solid $green;

      &:hover {
        background-color: $green;
      }
    }

    a {
      @include primary_font;
      color: $red;
      font-weight: 500;

      &:hover {
        color: white;
        text-decoration: none;
      }

    }

    &:hover {
      background-color: $red;
      color: white;
    }
  }

  &.large {
    padding: 15px 30px;
    font-size: 14px;
  }

  &.small {
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 600;
  }

  &.extra-small {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
  }

  &.fullwide {
    width: 100%;
    display: block;
  }

  &.inline {
    margin: 32px 10px 0 10px;
  }

}