/* Basic Form Styles */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;

  &:focus {
	  outline-color: #999;
  }
}

input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 50px;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #CCC8C2;
}

input[type="number"] {
	width: 100%;
	height: 50px;
	padding: 0 1em;
	border: 1px solid #CCC8C2;
}

input[type="text"].datepicker {
	background: url('../img/icon-date.png') 97% center no-repeat #fff;
}

input[type="radio"] {
	float: left;
	display: inline-block;
}

.radio_label {
	margin: 10px 15px 10px 10px;
	float: left;
	display: inline-block;
}

label {
	@include primary_font;
	width: 100%;
	font-size: .75em;
	color: $medium-grey;
	text-transform: uppercase;
	letter-spacing: .15em;
	display: inline-block;
}

.select-style {
  border: 1px solid #D8D5D0;
  width: 100%;
  overflow: hidden;
  margin: 10px 0 15px 0;
  background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 98% 50%;
}

.select-style select {
  padding: 15px;
  width: 130%;
  font-size: 1em;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

textarea {
	min-height: 200px;
}

button a {
	color: white;

	&:hover {
		color: white;
	}
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input,
button,
select,
textarea {
	@include primary_font;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}