// Styles for Home Pages - Managed in /sass/pages/_home.scss

body.account {
	background-color: #111113;
	color: white;

	.form-holder {
		margin: 120px auto;
		text-align: center;
		width: 20%;
		min-width: 300px;

		.app-logo {
			width: 150px;
			margin: 0 auto 40px auto;

			img {
				max-width: 100%;
			}
		}

		.form-content {
			color: $light-text;
		}

		.form-signin {
			margin: 50px 0 20px 0;
		}

		h1 {
			font-weight: 300;
			font-size: 2.5em;
		}

		input[type="text"], input[type="email"], input[type="password"] {
			@include primary_font;
			color: white;
			background: rgba(0,0,0,0.3);
			border: none;
			width: 100%;
			padding: 10px 15px;
			font-size: 1em;
			height: auto;
			margin-bottom: 20px;

			&:focus {
				background-color: rgba(0,0,0,0.8);
				outline: none;
			}
		}

		.remember span {
			text-transform: none;
			letter-spacing: 0;
			padding-left: 5px;
			color: $light-grey;
			font-size: 1.25em;
		}

		.button-frame {
			margin: 30px 0;
		}

		.account-links {
			margin-top: 80px;

			a {
				@include primary_font;
				color: white;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.825em;
			}
		}

	}
}

.form-options {
	padding: 10px;
	margin-bottom: 15px;
	background-color: $neutral1;
	float: left;
	display: block;
	width: 100%;
}

.backstretch {
	opacity: 0.3;
}