@import "account";
@import "properties";
@import "requests";

.run-date {
	margin: 20px 0 30px 0;
	font-size: 16px;
}

.report-title {
	font-weight: 300;
}

tr.divider {
	border-bottom: 2px solid $light-grey;
}

.report-header-row {
	padding: 10px 0 20px 0;
	float: left;
	width: 100%;
}

.container {
	background-color: white;
	margin-top: 0;

	.page-content {
		padding: 20px 40px 60px 40px;
	}

	&.report-holder {
		padding: 20px 40px 60px 40px;
		margin-bottom: 20px;

		.report-header {
			border-bottom: 1px solid #eaeaea;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}

		h2 {
			margin: 0;
			font-weight: 200;
		}

		h4 {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 10px;
			font-weight: 600;
			color: $medium-grey;
		}
	}

	.page-header {
		padding: 20px 0;
		margin-bottom: 30px;
		height: 50px;

		h2 {
			margin: 0;
			font-weight: 200;
		}

		h4 {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 10px;
			font-weight: 600;
			color: $medium-grey;
		}
	}

	.page-section {
		padding: 30px 0;
		border-bottom: 1px solid $neutral2;

		&.no-border {
			border-bottom: none;
		}
	}

}