@import "account";
@import "properties";
@import "requests";

.container {
	background-color: white;
	margin-top: 0;

	.page-content {
		padding: 20px 40px 60px 40px;
	}

	.page-header {
		padding: 20px 0;
		margin-bottom: 30px;
		height: 50px;

		h2 {
			margin: 0;
			font-weight: 200;
		}
	}
}