// Styles for Home Pages - Managed in /sass/pages/_request.scss

.filter-search-bar {
	width: 100%;
	padding: 15px;
	background-color: #F0F0F0;
	margin-bottom: 20px;
}

.details-box {
	padding: 20px;
	border: 1px solid $light-grey;
	margin-bottom: 40px;
}